.rotating-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: blue;
    display: block;             
    width: fit-content;         
    margin: 0 auto;
    font-size: 50px;             
}
